a[b-dc47yvhqvw] {
    text-decoration: none;
}

    a:hover .card[b-dc47yvhqvw] {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

.card[b-dc47yvhqvw] {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img[b-dc47yvhqvw] {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;

}

img[b-dc47yvhqvw] {
    transition: 0.5s ease-in-out;
}
